.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-styling {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  border-radius: 8px;
  background-color: #ffff;
  margin: 15px;
}

.img-positioning {
  align-self: flex-end;
}
